<div class="main-container">
  <div class="content-area">
    <%= render "home/partials/reorder_level_section", products: @products %>
    <hr>
    <%= render "home/partials/category", categories: @categories%>
  </div>
</div>
