  <h2>Kategoriler</h2>
  <section class="category-section"> 
    <% @categories.each do |category| %> 
      <div class="category-card">
        <div class="icon"><%= category_icon(category.category_name) %></div>
        <div>
          <%= link_to t("categories.names.#{category.id}"), products_path(category_id: category.id),
          class: "title #{'active' if params[:category_id] == category.id.to_s}" %>
        </div>
      </div>
    <% end %>
  </section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const section = document.querySelector(".category-section");
    const cards = section.querySelectorAll(".category-card");

    // Kartları klonla ve sonuna ekle
    cards.forEach(card => {
      const clone = card.cloneNode(true);
      clone.classList.add("cloned");
      section.appendChild(clone);
    });

    let scrollAmount = 0;
    let isPaused = false;

    function autoScroll() {
      if (!isPaused) {
        scrollAmount += 1;
        section.scrollLeft = scrollAmount;

        if (scrollAmount >= section.scrollWidth / 2) {
          scrollAmount = 0;
        }
      }
      requestAnimationFrame(autoScroll);
    }

    autoScroll();

    // Hover ile durdurma
    section.addEventListener("mouseover", function () {
      isPaused = true;
    });

    section.addEventListener("mouseout", function () {
      isPaused = false;
    });
  });
</script>


