  <h2><%= t("categories.index.title") %></h2>
  <section class="category-section" data-controller="category-scroll"> 
    <% @categories.each do |category| %> 
      <%= link_to products_path(category_id: category.id), class: "category-card" do %>
        <div class="icon"><%= category_icon(category.category_name) %></div>
        <div>
          <span class="title #{'active' if params[:category_id] == category.id.to_s}"><%= t("categories.names.#{category.id}") %></span>
        </div>
      <% end %>
    <% end %>
  </section>


