<% if product.inventory_count?%>
    <p><%= product.inventory_count %> stoklarda</p>
<% else %>
    <p>stok kalmamıştır</p>
    <p>stoğa girince haber ver</p>

    <%= form_with model: [product, Subscriber.new] do |form| %>
        <%= form.email_field :email, placeholder: "ornek@ornek.com", required: true %>
        <%= form.submit "Kaydol" %>
    <% end %>
<% end %>