<div class="main-container" id="products-index">
  <%= render "products/partials/category_card", product: @product %>
  <div class="content-area">
    <%= render "products/partials/filter", product: @product %>
    <%= render "products/partials/product_card_supplier", products: @products %>
  </div>
</div>
