<div class="main-container">
    <%= render "products/partials/category_card", product: @product %>
    <main class="content-area">

        <%= render "products/partials/filter", product: @product %>
        <%= render "products/partials/product_card_supplier", products: @products %>
    </main>
</div>


